@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap');

:root {
    --spartan: 'League Spartan', sans-serif;
}

*{
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

body {
    background-color: #F8F8FB;
    font-family: var(--spartan);
    /* max-height: 100vh; */
    margin: 0;
    overflow-x: hidden;
}