.new-invoice-container{
    width: 719px;
    height: 100vh;
    /* background-color: red; */
    margin: 0px;
    padding: 0px;
    
}

.invoice-form{
    /* position: absolute; */
    margin-left: 103px;
    width: 616px;
    height: 100vh;
    background-color: white;
    padding: 30px 56px 0px 56px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{
    height: 32px;
    /* background-color: blue; */
    /* top: calc(50% - 32px/2 - 640px); */
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.5px;
    color: #0C0E16;
}