.invoice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.invoice-mobile {
    display: none;
}

.invoice:hover, .invoice:active {
    border: 1px solid #7C5DFA;
}

.invoice-left-section {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 1em;
}

#date {
    
}

.invoice-right-section {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 1em;
}

.id, .amount {
    font-weight: bold;
    font-size: 18px;
}

.amount {
    font-size: 20px;
}

.status-paid, .status-pending, .status-draft {
    mix-blend-mode: normal;
    border-radius: 6px;
    padding: 13px;
    width: 6em;
    font-weight: 500;
}

.status-paid:before, .status-pending:before, .status-draft::before {
    content: "•"; 
    display: inline-block;
    width: 1em;
}

.status-paid {
    background-color: rgba(51, 214, 159, 0.2);
    color: #33D69F;
}

.status-pending {
    background-color: rgba(255, 143, 0, 0.2);
    color: #FF8F00;
}

.status-draft {
    background-color: rgba(55, 59, 83, 0.2);
    color: #373B53
}

/* No Invoice Styles */
.noInvoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.noInvoice-text {
    text-align: center;
}

.noInvoice-text span {
    font-weight: bold;
}

@media (max-width: 600px) {
    .invoice {
        display: none;
    }

    .invoice-mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: white;
        border-radius: 8px;
        cursor: pointer;
        padding: 1em;
        width: inherit;
        margin: 0 auto;
    }

    .invoice-left-section-mobile, .invoice-right-section-mobile, .id-mobile  {
        display: flex;
        justify-content: space-between;
    }

    .id-mobile {
        flex-direction: column;
    }
}