.items-container{
    width: 100%;
}

.head{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7C5DFA;
    margin-top: 32px;
}

.item-head{
    width: 480px;
    height: 15px;
    display: flex;
}

.item-head div h4{
margin: 0px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.25px;
color: #7E88C3;
}

.i-name{
    width: 214px;
    margin-right: 16px;
}

.i-qty{
    width: 46px;
    margin-right: 25px;
}

.i-price{
    width: 56px;
    margin-right: 60px;
}

.i-total{
    width: 56px;
}

.addItem{
    width: 504px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    background: #F9FAFE;
    border-radius: 24px;
    border: none;
    text-align: center;
    letter-spacing: -0.25px;
    color: #7E88C3;
    cursor: pointer;
    margin-bottom: 39px;
}

.addBtn{
    fill: #7E88C3;
    margin-top: 18px;
    margin-right: 5px;
}

@media (max-width: 600px){
    .item-head{
        display: none;
    }

    .addItem{
        width: 100%;
    }
}