.items-container{
    width: 100%;
}

.head{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7C5DFA;
    margin-top: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.item-head{
    width: 480px;
    height: 15px;
    display: flex;
}

.item-head div h4{
margin: 0px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.25px;
color: #7E88C3;
}

.i-name{
    width: 214px;
    margin-right: 16px;
}

.i-qty{
    width: 46px;
    margin-right: 25px;
}

.i-price{
    width: 56px;
    margin-right: 60px;
}

.i-total{
    width: 56px;
}

.addItem{
    width: 504px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    background: #F9FAFE;
    border-radius: 24px;
    border: none;
    text-align: center;
    letter-spacing: -0.25px;
    color: #7E88C3;
    cursor: pointer;
    margin-bottom: 39px;
}

.addItem:hover{
    background: #DFE3FA;
}

.addIcon{
    fill: #7E88C3;
    margin-top: 18px;
    margin-right: 5px;
}

@media (max-width: 600px){
    .item-head{
        display: none;
    }

    .addItem{
        width: 100%;
    }
}

/* item */
.item-container{
    width: 504px;
    height: 79px;
    /* margin-bottom: 24px; */
}

.item-form-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.item-form-container input{
    height: 48px;
    margin-top: 10px;
    outline: none;
}

#qty{
    padding: 10px;
}

/* For mobile view */
.item-form-container label{
    display: none;
}

.item-props{
    width: 274px;
    display: flex;
    justify-content: space-between;
    }

.grp1{
    height: 79px;
    width: 214px;
}

.grp2{
    height: 79px;
    width: 48px;
} 

.grp3{
    height: 79px;
    width: 100px;
}

.grp4{

    height: 15px;
    width: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
       color: #888EB0;
    }

#name{
    width: 214px;
}

#qty{
    width: 55px;
}

#price{
    width: 100px;
}

#i-total{
    width: 45px;
    height: 15px;
    position: relative;
    bottom: -25px;
}

.total-head{
    display: none;
}

.delBtn{
    height: 16px;
    width: 13px;
      margin-top: 21px;
    cursor: pointer;
    fill: #888EB0
}

.delBtn:hover{
    fill: #EC5757;
}

@media (max-width: 600px){
    .item-container{
        width: 100%;
        height: 176px;
        margin-bottom: 24px;

    }

    .item-form-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 18px;
    }
    
    .item-form-container label{
        display: block;
    }

    .grp1{
        height: 79px;
        width: 100%;
        margin-bottom: 17px;
            }

    #name{
        width: 100%;
    }

    .item-props{
        width: 100%;
    }

    .grp2{
        height: 79px;
        width: 64px;
        
    }

    .grp3{
        height: 79px;
        width: 100px;
        
    }

    .grp4{
        height: 57px;
        width: 56px;
           }

    .total-head{
        display: block;
        margin: 0%;
          }

    #i-total{
        width: 56px;
        height: 15px;
            }

    #qty{
        width: inherit;
    }

    #price{
        width: inherit;
    }

    .delBtn{      
        margin-top: 32px;
    }
    
}