label{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: -0.25px;
    color: #7E88C3;

}

.group1{
    height: 73px;
    width: 504px;
    margin-bottom: 24px;
}

input{
    margin-top: 14px;
}

.group1 input{
    height: 48px;
    width: 504px;
}

.form-l3{
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 504px;
}

.t-group2{
    height: 73px;
    width: 152px;
}

.t-group2 input{
    height: 48px;
    width: 100%;
    margin-top: 10px;
    outline: none;
}

.form-l2{
    width: 504px;
    height: 170px;
    margin-top: 48px;
}

.form-l2 input{
    margin-top: 10px;
}


.two-column{
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}


.group3{
    width: 240px;
    height: 73px;
}

.group3 input{
    width: 240px;
    height: 48px;
}

 select{
    width: 240px;
    height: 48px;
    margin-top: 10px;
    border: 1px solid #DFE3FA;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    
    letter-spacing: -0.25px;
    
    color: #0C0E16;
}

select:hover{
    border: 1px solid #7E88C3;
}


@media (max-width: 600px){
    .bill-to-container{
        width: 100%;
    }
    
    .to-container{
        width: 100%;
    }

    .group1{
        height: 73px;
        width: 100%;
        margin-bottom: 24px;
    }

    .group1 input{
        width: inherit;
    }

    .form-l3{
        display: flex;
        flex-flow: row wrap;
        height: 170px;
        width: auto;    
    }
    
    .t-group2 input{
        height: 48px;
        width: 100%;
        margin-top: 10px;
        outline: none;
    }

    #to-country{
        width: 100%;
        margin-top: 24px;
        /* background-color: purple; */
    }
    
    .form-l2{
        width: 100%;
        height: 267px;

        /* background-color: brown; */
    }

    .two-column{
        width: 100%;
        height: 170px;
        /* background-color: #7E88C3; */
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .group3{
        width: 100%;
        /* background-color: green; */
    }
    
    .group3 input{
        height: 48px;
        width: 100%;
        margin-top: 10px;
        outline: none;
    }

    .group3 select{
        height: 48px;
        width: 100%;
        margin-top: 10px;
        outline: none;
    }
}